<% if @comment.errors.size == 0 %>
    $("#comments_list_<%=@post.id %>_<%= @comment.title %>").append("<li class='animated fadeInUp'><%= simple_format(@comment.body) %></li>")
    $(".comments_form").each(function() {
      $(this).find($('textarea')).val('');
    })


<% else %>
    alert("Please submit after commenting...");
<% end %>