<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">영어는 자신감이다!</h1>
      <div class="row center">
        <h5 class="header col s12 light">다양한 사람이 다양한 장소에서 다양한 영어회화를 체험하다</h5>
      </div>
      <div class="row center">
        <a href="/posts/" id="download-button" class="btn-large waves-effect waves-light teal lighten-1" style="color:white;">체험하기</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">web</i></h2>
          <h5 class="center">경험 공유</h5>
          <p class="light">재밌게 다양하게 새롭게 영어로 회화연습에 참여하고 함께 기회들을 공유해 보아요
          </p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">restore</i></h2>
          <h5 class="center">반복 연습</h5>

          <p class="light">지속적으로 다양한 사람을 만나 대화 함으로 "영어로 대화하는게 두렵다"는 생각으로 부터 자연스레 자유함을 경험해봐요</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">language</i></h2>
          <h5 class="center">안전한 맴버</h5>
          <p class="light">저희는 영어 회화에 대한 경험이 없으신 분들 대상으로 맴버신청을 받습니다. 이제 '영어 잘하는 사람 있으면 어떻게' 라는 생각 안하셔도 되요</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">꾸준히 영어로 대화할 수 있는 다양한 기회를 함께 만들어 가요</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>어떻게 시작되었을까요?</h4>
        <p class="left-align light">
          안녕하세요 프로젝트 스타터 Joseph 입니다. 프로젝트를 진행하게된 계기는 간단합니다 저의 미션때문인데요 "다양한 사람이 다양한 장소에서 다양한 교육을 경험하는것" 입니다. 이런 미션은 제가 여태 획일화된 교육관을 오래 받아오며 갈증으로 인해 생겼는데요. 동일한 방법으로 한원에서 학교에서 때론 회사에서 그리고 도서관에서 받아오며 점점 지쳤갔던거 같아요저같은 경우 배우고 싶은게 있을때 학원을 찾던가 과외 선생님을 찾았던게 대부분이였던거 같아요. 개인적으로 과외는 비싸기만 했지 만족한 적이 거의 없었던거 같아요.
          저렴한 편이였지만 효과적이지 않고 지속적인 동기부여를 주기에는 역부족이였던거 같아요. 그러다가 제가 오픈컬리지 라는 곳을 알게 되었어요. 그곳에서 다양한 프로젝트를 경험하면서 교육관이 바뀌였습니다.
          비로소 내가 받고싶은 교육을 스스로 만들고 참여할때 가장 많이 쉽게 빨리 배우는것을요. 그래서 만들고 싶었습니다. 참여자들이 자유롭게 자신이 원하는 방식으로 교육을 만들 수 있는 환경과 능력을 펼칠 수 있는 자리를 마련하는것
          영어 회화를 적목시켜서 영어회화를 필요로 하는 사람들이 다양한 방법으로 여러 장소에서 연습할 수 있는 기회를 여는거 입니다. 함께 자율적으로 자발적으로 주최적으로 이 기회에장을 확장시켰으면 좋겠어요 :)
        </p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Sharing your experience and let friends enjoy together</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 3"></div>
</div>


