<div class="container">
  <div class="section">

    <!--   All Post   -->
    <% Post.all.each do |post| %>
      <div class="row">
        <div class="col s12">
          <h5><%= post.title %> // <%= post.category.option %></h5>

          <!-- MAIN Option 별 디자인-->
          <% if post.category.option.include?("Video") %>
              <div class="plyr materialboxed">
                <div data-video-id="<%= embed(post.url) %>" data-type="youtube"></div>
              </div>
          <% elsif post.category.option.include?("Photo") %>
            <img class="materialboxed" src="<%= post.url %>" width="100%">

          <% end %>


          <!-- SUB Option 뼐 디자인 -->
          <% if post.category.option.include?("History") %>
          
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<script>
  $(document).ready(function(){
    plyr.setup();
    $('.materialboxed').materialbox();
    $(".plyr__controls").click(function(){
    })
  });


</script>
