<style>
    .firstscreen{
      height: 100%;

    }
    .firstscreen img{
      position:absolute;
      display: none;
      height: 100%;
      left:0;
      top:0;
    }
</style>

<div class="firstscreen">
  <img src=<%= @posts.first.url %>>
</div>


<script>
  $(".logo").show();
  $(".firstscreen img").hide();

  function size_firstscreen() {
    $(".firstscreen img").css(
        {
          left:($(window).width() - $(".firstscreen img").width())/2 ,

        }
    )
    $(".firstscreen img").fadeIn(1000)
  }

  $(".firstscreen img").on('load', function(){
    size_firstscreen();
  });

  $(window).resize(function(){
    size_firstscreen();
  })

  $(window).on('unload',function(){
    alert("bye")
  })
</script>