<style>

    .fullscreen{
      text-align: center;
      height: 100%;
    }
    .fullscreen img{
      position:absolute;
      height: 100%;
      left:0;
      top:0;
    }
</style>





<div class="slider fullscreen">
  <img src=<%= @posts.first.url %>>
</div>


<script>
  function size_fullscreen() {
    $(".fullscreen img").css(
        {
          left:($(window).width() - $(".fullscreen img").width())/2 ,

        }
    )
  }

    size_fullscreen();


    $(window).resize(function(){
      size_fullscreen();
    })



</script>