

<div class="container">
<h1>
 Languages
</h1>


  <ul class="collapsible" data-collapsible="accordion">


    <% @language = "" %>
    <% @posts.ordered_by_name.each do |post| %>
        <% if @language != post.url %>
          <a><h4><%= post.url %></h4></a>
          <% @language = post.url %>
        <% end %>
        <li>
          <div class="collapsible-header"><%= post.title %></div>
          <div class="collapsible-body"><p><%= post.content %></p></div>
        </li>

    <% end %>

  </ul>

  </div>

