<div class="container">
  <div class="section">


    <ul>
      <% @categories.each do |category| %>
          <div class="row">
            <ol>
              <h4>
                <%= link_to category.title, new_category_post_path(category), class: "wirte_post" %>
              </h4>

              <% category.posts.each do |post| %>
                  <li>
                    <%= link_to post.title, edit_category_post_path(post.category, post) %>
                  </li>
              <% end %>
            </ol>
          </div>
      <% end %>
    </ul>


  </div>
</div>