<style>

  .main_signature_position{
    position:fixed;
    width:100%;
    left:0;
    top:70px;
    z-index: 2;
    font-family: 'Satisfy', cursive;
  }


  .joseph_sign{
    width:55%;
    display:none;
  }

  .category_list_index{
    margin-left: 40px;
    line-height: 170%;
    font-size:100%;
  }
  .category_list_index li{
    display: none;
  }

</style>

<ul class="cb-slideshow">
  <li><span>Image 01</span><div><h3></h3></div></li>
  <li><span>Image 02</span><div><h3></h3></div></li>
  <li><span>Image 03</span><div><h3></h3></div></li>
  <li><span>Image 04</span><div><h3></h3></div></li>
  <li><span>Image 05</span><div><h3></h3></div></li>
  <li><span>Image 06</span><div><h3></h3></div></li>
</ul>



  <div class="clr"></div>
  <div class="main_signature_position">
    <%= image_tag("JosephLeeCover.png", :class => "joseph_sign") %>
    <ul class="category_list_index" style="color:white">

      <% @categories.each do |category| %>
          <li>
            <%= link_to category.title, category %>
          </li>
      <% end %>

    </ul>

  </div>
