<div class="container">
  <div class="section">

    <!--   All Post   -->
    <div class="row">
      <div class="col s12">
        <div class="plyr">
          <div data-video-id="bTqVqk7FSmY" data-type="youtube"></div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function(){
    plyr.setup();
  });
</script>