<style>
  .center{
    position:fixed;
    width:600px;
    left:50%;
    top:0px;
    margin-left: -300px;
  }
</style>


<div class="center">
  <h3>NEW CATEGORY</h3>
  <div class="row">
    <%= render 'form' %>
  </div>
</div>
